/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
defaults
*/

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 10px 0 15px 0;
}

a {
  text-decoration: none;
}

a:hover, a:focus {text-decoration: underline;}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.hidden {
  display: none;
}

/*******************************************************************************
Theme Styles
******************************************************************************/
html {
  height: 100%;
  background-color: #212121;
}

body {
  height: 100%;
  color: #373737;
  font-size: 16px;
  font-family: 'Comfortaa', cursive;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body.main {
  background: url('../images/logoSquare_1024.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header, footer {
  overflow: hidden;
}

header {
  height: 5vh;
}

header h1 {
  float: left;
}
header h2 {
  float: right;
}

footer {
  height: 3vh;
  font-size: 2vh;
  line-height: 1;
}

footer>p {
  color: #f2f2f2;
  padding: 0 1vw;
  margin: 0;
}

footer>p>.copyright{
  float: left;
}

footer>p>.credit {
  float:right;
}

footer a {
  color: #F2F2F2;
  text-decoration: underline;
}

main {
  height: 92vh;
  overflow: hidden;
}

.students {
  width: 92vh;
  margin: 0 auto;
}

.student, .logo, .detail {
  position: relative;
  display: block;
  height: 23vh;
  width: 23vh;
}

.student, .logo {
  float: left;
}


.detail {
  position: absolute;
  top: 0; left:0;
  background: rgba(255, 255, 255, .75);
  text-align: center;
  border: 1px solid #212121;
}

.detail .name {
  position: absolute;
  bottom: 10px;
  width: 100%;
  font-size: 4vh;
  color: #f2f2f2;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
  font-weight: 700;
  line-height: .75;
}

.detail img {
  width: 100%;
}

.detail:hover,
.detail:focus {
  z-index: 10;
}

.detail:focus .name,
.detail:hover .name {
  text-decoration: underline;
}

.student .detail img {
  opacity: .6;
}

.detail:focus img,
.detail:hover img {
  opacity: 1;
}

.student:nth-of-type(4n+1) .detail .name {
  color: rgba(51,239,253,1);
}
.student:nth-of-type(4n+2) .detail .name {
  color: rgba(254,1,23,1);
}

.student:nth-of-type(4n+3) .detail .name {
  color: rgba(237,205,0,1);
}

.student:nth-of-type(4n+4) .detail .name {
  color: rgba(14,17,252,1);
}

.screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .8);
  z-index: 100;
}

/*
  student page
*/
.senior-statement {
  color: #f2f2f2;
  overflow: auto;
}

.statement, .media {
  background: rgba(0, 0, 0, 0.75);
  padding: 1vw;
  width: 60vw;
}

.senior-statement h4 {
  padding: 1vw;
  margin: 0;
}

.senior-statement p {
  padding: 1vw;
  margin: 0;
}
